* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-image: url(http://www.code-couleur.com/images/main/sable-texture.jpg);
}


.carousel-inner img{
  margin:auto;
}

.bordures {
  border: solid;
}