* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0px;
   

  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-image: url(https://www.tcs.ch/assets/img/camping-reisen/reiseinformationen/laenderinfos/afrika/marokko/weblication/wThumbnails/marokko-01-3522c1c45739087g42f5b0424337c3d2.jpg);
  background-size: cover;
}

.carousel-inner img {
  margin: auto;
  margin-bottom: 20px;
}

.card {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  background-color: #fff8dc !important;
  
  
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.cta {
  color: #fff;
  border: 2px solid #daa520;
  border: 2px solid;
  background-color: #daa520;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
}
.cta:hover{
border: 2px solid #daa520;
color: grey;

}
.bordure {
  background-color: transparent !important;
}

.msg{
  border : 
}





 .circle{
  font-family : "Montserrat";
  display:inline-block;
  width:70px;
  height:70px;
  border-radius:50%;
  text-align:center;
  background: #e84e1b;
  color: white;
} 


.circle_text{
  display:block;
  padding-top:25px;
  
 } 